@import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
/* @import url(//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic); */
@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

ul.three-col {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  height: 90vh;
  list-style: none;
}

ul li.three-col {
  flex: 1 0 25%;
  min-width: 10em;
  max-width: 18em;
  max-height: 2.1em;
  overflow: clip;
  text-overflow: ellipsis;
  display: inline-block;
}

article {
    font-family: 'Yanone Kaffeesatz', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-width: 100%;
    min-height: 100%;
}

article.slide-listing {
    font-size: 3.2em;
    line-height: 2em;
    color: #6ADD15;
    text-decoration: none;
    font-size: 32pt;
}

article.slide-listing a, a:visited, a:hover  {
    color: #6ADD15;
    text-decoration: none;
}

body {
    background-color: black;
}

code {
    font-family: 'Yanone Kaffeesatz', 'Courier New', monospace;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.pull-right~p {
  clear: both;
}

.inverse {
  background: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}

.inverse h1,
.inverse h2 {
  color: #f3f3f3;
  line-height: 0.8em;
}

.left-column {
  color: #777;
  min-width: 20%;
  max-width: 49%;
  height: 92%;
  float: left;
  margin-bottom: -.75em;
  margin-top: 0;
}

.left-column h2:last-of-type,
.left-column h3:last-child {
  color: #000;
}

.right-column {
  min-width: 20%;
  max-width: 49%;
  height: 92%;
  float: right;
  padding-top: .2em;
}

blockquote {
  border-left: 0.25em solid rgba(0, 0, 0, 0.33);
  padding: 0 8px;
  margin: 0 .67em;
}

.small{
  font-size: 70%;
}

.red {
  color: #cc092f;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.orange {
  color: orange;
}
.highlight {
  background-color: yellow;
}
.highlight-red {
  background-color: rgba(204, 9, 47, 0.20);
}
.highlight-green {
  background-color: rgba(106, 221, 21, 0.5);
}
.highlight-blue {
  background-color: rgba(173, 216, 230, 0.5);
}
.highlight-orange {
  background-color: rgba(255, 165, 0, 0.33);
}

.footnote {
  position: absolute;
  bottom: 0.3em;
  font-size: x-small;
}
.ref{
  font-variant-position: super;
  font-size: .92em;
}
.ref::before { content: "[" }
.ref::after  { content: "]" }